[loggers]
keys=root, bluemist

[handlers]
keys=console, file

[formatters]
keys=log_out

[logger_root]
handlers = console, file
level = INFO

[logger_bluemist]
handlers = console, file
level = DEBUG
qualname = bluemist
propagate = 0

[handler_console]
class = logging.StreamHandler
formatter = log_out

[handler_file]
class = logging.handlers.RotatingFileHandler
kwargs = {"filename": "artifacts/logs/bluemist.log", "backupCount": 20}
formatter = log_out

[formatter_log_out]
format = %(asctime)s : %(levelname)s : %(module)s : %(funcName)s : Line %(lineno)s : %(message)s