include requirements.txt
include requirements-optional.txt
include bluemist/logging.config
include bluemist/artifacts/logs/bluemist.log
recursive-include bluemist/artifacts *
recursive-include bluemist/datasets *