boto3==1.26.63
cx_Oracle==8.3.0
ipython==8.9.0
Jinja2==3.0.3
joblib==1.1.1
matplotlib==3.4.3
mlflow==2.1.1
numpy==1.22.3
pandas==1.4.2
scikit_learn==1.2.1
setuptools==67.1.0
SQLAlchemy==1.4.32
termcolor==1.1.0
tqdm==4.64.1
