boto3==1.26.63
cx_Oracle==8.3.0
dtale==2.12.2
ipython==8.10.0
Jinja2==3.0.3
joblib==1.1.1
mlflow==2.1.1
numpy==1.22.3
pandas==1.4.2
pandas_profiling==0.0.dev0
scikit_learn==1.2.1
SQLAlchemy==1.4.32
sweetviz==2.1.4
termcolor==1.1.0
tqdm==4.64.1
